<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>Employee Manager</title>
  </head>
<body>
	<div class="container" th:fragment="messages">
		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:text="${errorMessage}" class="alert alert-danger" role="alert">Error</div>
		<!--  Error message ----------------------------------------------------------- -->
	
		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null" th:text="${warningMessage}" class="alert alert-warning" role="warning">Warning</div>
		<!--  Warning message ----------------------------------------------------------- -->
	
		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:text="${message}" class="alert alert-success" role="warning">Message</div>
		<!--   message ----------------------------------------------------------- -->
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>